.App {
  text-align: center;
}

body { 
  /*background-image: url("../../document_n_other/E7A7F914-2531-4B9C-B67B-83FFC5446AA8 3.png"); */
  background-color: #e8f8fb;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.series-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.series-item img {
  width: 100%;
}

.GoogleLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: 32px;
}

.CycleGraph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.MockedUPGraph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  max-height: 90%;
}

.predict {
  background-color: rgba(249, 231, 230, 0.5);
  padding: 0.5%;
}

.center {
  margin: auto;
}

.tab1 {
  margin-left: 1%;
}

.tab2 {
  margin-left: 2%;
}

.tab4 {
  margin-left: 4%;
}

.tab40 {
  margin-left: 40%;
}

.section {
  width: 100%;
  margin-left: 4%;
  display: grid;
  grid-template-columns: 15% 5% 80%;
}

.inputText {
  max-width: 90%;
  font-size: 24px;
}

.textBackground {
  max-width: 90%;
  font-size: 24px;
  background-color: white;
  border: black;
}

.MultiSelecTextBackground {
  max-height: 80%;
  opacity: 1;
  overflow-y: scroll;
  max-width: 90%;
  font-size: 24px;
  background-color: white;
  border: black;
}

.choice {
  font-size: 24px;
}

.เขียว {
  background-color: #4CAF50;
  width: 98%;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

.เหลือง {
  background-color: #a7af4c;
  width: 98%;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

.ฟ้า {
  background-color: #008CBA;
  width: 98%;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

.แดง {
  background-color: #f44336;
  width: 98%;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

.แพะเขียว {
  background-color: #5bc35f;
  width: 90%;
  margin-left: 5%;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

.แพะเหลือง {
  background-color: #b7c05c;
  width: 90%;
  margin-left: 5%;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

.แพะฟ้า {
  background-color: #099ecf;
  width: 90%;
  margin-left: 5%;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

.แพะแดง {
  background-color: #fa5347;
  width: 90%;
  margin-left: 5%;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

.flexbetw {
  display: grid ;
  justify-content: center;
}

.centerDiv {
  display: block;
  justify-content: center;
  padding: 1px;
}

.centerDivMorePadding {
  display: block;
  justify-content: center;
  padding: 5px;
}

.alert-adjustment-0 {
  position: fixed;
  bottom: 95%;
  right: 0%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(244, 252, 255);
  display: block;
  width: 12%;
  height: 4%;
  border-radius: 8px;
  font-size: 20px;
  border: none;
}
.alert-adjustment-100 {
  position: fixed;
  bottom: 95%;
  right: 0%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(212, 212, 212);
  display: block;
  width: 12%;
  height: 4%;
  border-radius: 8px;
  font-size: 20px;
  border: none;
}
.alert-adjustment-1 {
  position: fixed;
  bottom: 95%;
  right: 0%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #f3ff72;
  display: block;
  width: 12%;
  height: 4%;
  border-radius: 8px;
  font-size: 20px;
  border: none;
}
.alert-adjustment-2 {
  position: fixed;
  bottom: 95%;
  right: 0%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #07c1ff;
  display: block;
  width: 12%;
  height: 4%;
  border-radius: 8px;
  font-size: 20px;
  border: none;
}
.alert-adjustment-3 {
  position: fixed;
  bottom: 95%;
  right: 0%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #ff5448;
  display: block;
  width: 12%;
  height: 4%;
  border-radius: 8px;
  font-size: 20px;
  border: none;
}

.alert-button0 {
  position: fixed;
  bottom: 91.7%;
  right: 1%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(212, 212, 212);
  display: block;
  width: 10%;
  height: 3%;
  border-radius: 2px;
  border: none;
  font-size: 16px;
}
.alert-button1 {
  position: fixed;
  bottom: 88.6%;
  right: 1%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #f3ff72;
  display: block;
  width: 10%;
  height: 3%;
  border-radius: 2px;
  border: none;
  font-size: 16px;
}
.alert-button2 {
  position: fixed;
  bottom: 85.5%;
  right: 1%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #07c1ff;
  display: block;
  width: 10%;
  height: 3%;
  border-radius: 2px;
  border: none;
  font-size: 16px;
}
.alert-button3 {
  position: fixed;
  bottom: 82.6%;
  right: 1%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #ff5448;
  display: block;
  width: 10%;
  height: 3%;
  border-radius: 2px;
  border: none;
  font-size: 16px;
}

.EventSchedule {
  position: fixed;
  border-radius: 50%;
  bottom: 19%;
  right: 3%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  max-width: 13%;
  max-height: 13%;
}

.EventCreate {
  position: fixed;
  border-radius: 50%;
  bottom: 5%;
  right: 3%; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  max-width: 13%;
  max-height: 13%;
}

.Addunit {
  border-radius: 50%;
  display: block;
  max-width: 37px;
  max-height: 37px;
  padding: 2px;
  margin-left: 50%;
}

.ActivityBar {
  background-color: #11c2b6c0;
  width: 98%;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
}

.ย้อนกลับ {
  background-color: rgb(244, 252, 255);
  cursor: pointer;
  border: none;
  position: fixed;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  bottom: 92%;
  margin-left: 88%;
  font-size: 24px;
  border-radius: 8px;
}

.แก้ไขข้อมูลแพะ {
  background-color: rgb(244, 252, 255);
  cursor: pointer;
  border: none;
  position: fixed;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  bottom: 85%;
  margin-left: 88%;
  font-size: 24px;
  border-radius: 8px;
}

.gridSubThree {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.ยืนยันแล้วเพิ่ม {
  background-color: rgb(244, 252, 255);
  cursor: pointer;
  border: none;
  position: block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  font-size: 24px;
  margin: auto;
  border-radius: 8px;
}
.ยืนยันแล้วกลับหน้าหลัก {
  background-color: rgb(244, 252, 255);
  cursor: pointer;
  border: none;
  position: block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  font-size: 24px;
  margin: auto;
  border-radius: 8px;
}
.ยกเลิกแล้วกลับหน้าหลัก {
  background-color: rgb(244, 252, 255);
  cursor: pointer;
  border: none;
  position: block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  font-size: 24px;
  margin: auto;
  border-radius: 8px;
}


.select {
  max-width: 90%;
}

.select option {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.piechart {
  max-width:500px;
  max-height:500px;
}

.editNdeleteEventButton {
  background-color: #aefaffc0;
  width: 90%;
  border: none;
  color: black;
  display: flex;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
  margin-left: 2.5%;
  border-radius: 8px;
}

.gridSubTwo {
  display: grid;
  grid-template-columns: 50% 50%;
}

.SubActivityBar {
  background-color: #00e0d1;
  width: 98%;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
}